body{
  background-color: cyan;
}
.test{
  font-size: 35px;  
margin: 200px 10px 400px 40px;
padding: 40px;
}
.best{
  position:fixed ;
  right: 0%;
  top: 0%;
}
.host{
  position: fixed;
  top: 45%;
  left:9%;
}
.jjj{
  position: fixed;
  top: 55%; 
  left: 12%;
  width:10%;
  height:6% ;
}
.ggg{ 
  position: fixed;
  top: 55%; 
  left: 23%;
  width:10%;
  height:6% ;
}